# Python files
__pycache__/
*.py[cod]

# Local development settings
*.sqlite3
/env/*.*
!/env/.env.dev
!/env/.env.example

# Static files
/staticfiles/
/media/

# Dependency directories
venv/
venv2/
env/
ENV/

# Compiled files
*.pyc
*.pyo

# Other
.DS_Store
.idea/
*.log

# Configuration files
./backend/config/prod.ini